<mat-card class="cover-card">
    <img mat-card-image src="img/virtual_class.png" alt="Imagen de portada" />
    <mat-card-content>
        <h1>Remote Sessions</h1>
    </mat-card-content>
</mat-card>
<mat-card-title id="main_title">
    Program Fulbright-Hays
</mat-card-title>


<mat-card id="section2">
    <mat-card-content class="card-content">
        <mat-list>
            <p>
                Students have access to a wide range of virtual seminars that explore topics such as politics, 
                public health, social movements, and advanced data analysis in the social sciences. These 
                seminars provide a flexible and inclusive learning environment, allowing students to deepen their 
                understanding of complex issues from anywhere in the world.

            </p>
            <p>
                Designed to complement in-person experiences, these virtual sessions enable students to engage 
                with experts, participate in discussions, and access cutting-edge research and methodologies. 
                By integrating virtual learning with face-to-face interactions, the program fosters a 
                comprehensive and dynamic educational experience that bridges theory and practice.
            </p>
        </mat-list>
    </mat-card-content>
    <mat-card-content class="card-content">
        <iframe class="video" src="https://www.youtube.com/embed/s31E_zc8Ch8?si=zMsVJctj8a1uASRv"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>

</mat-card>

<mat-card id="section3" class="c1">
    <mat-card-content class="card-content">
        <img src="img/tihuanaku_aboutUs.jpg" alt="Image" class="img1">
    </mat-card-content>
    <mat-card-content class="card-content">
        <!-- matsubtitle -->
        <p>
            Through innovative virtual platforms, University of Mississippi students have the unique opportunity to engage 
            with Bolivian professors and international experts, fostering a dynamic exchange of ideas and perspectives. 
            These interactions allow students to expand their academic and professional networks while gaining valuable 
            insights into global issues—all from the convenience of their own location.
        </p>
        <p>
            By participating in meaningful discussions and collaborative learning experiences, students broaden their 
            horizons, deepen their understanding of diverse cultures and disciplines, and enhance their ability to navigate 
            an interconnected world.
        </p>
    </mat-card-content>
</mat-card>

<mat-card id="section3" class="c2">
    <mat-card-content class="card-content">
        <p>
            Before and after participating in in-person activities, students can take part in virtual sessions designed to 
            enhance academic and cultural preparation while providing a platform for meaningful reflection on their program 
            experiences.
        </p>
        <p>
            These online sessions offer a valuable opportunity for students to connect with peers, engage in thoughtful 
            discussions, and deepen their understanding of the program’s key themes. By integrating these virtual components, 
            students gain a more comprehensive and enriching learning experience.
        </p>

    </mat-card-content>
    <mat-card-content class="card-content">
        <img src="img/aboutUs_Potosi.jpg" alt="Image" class="img1">
    </mat-card-content>
</mat-card>
<!-- virtual classes  -->
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <iframe class="video" src="https://www.youtube.com/embed/fMXlrBTFhuo?si=j4cNg49yYnXsa2CQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>
    <mat-card-content class="card-content">
        <mat-card-title id="main_title">
            Session 1
        </mat-card-title>
        <img class="logos"src="img/logo_ucb.png" alt="Imagen de portada" style="width: 500px; height: 190px; " />
        <br>
        <br>
        <img class="logos" src="img/logo.png" alt="Imagen de portada" style="width: 490px; height: 150px; margin-left: 5%; " />

    </mat-card-content>
</mat-card>
<mat-card id="section2" class="c2">
    <mat-card-content class="card-content">
        <mat-card-title id="main_title">
            Session 2
        </mat-card-title>
        <img class="logos"src="img/logo_ucb.png" alt="Imagen de portada" style="width: 500px; height: 190px; " />
        <br>
        <br>
        <img class="logos" src="img/logo.png" alt="Imagen de portada" style="width: 490px; height: 150px; margin-left: 5%; " />
    </mat-card-content>
    <mat-card-content class="card-content"><iframe class="video"
            src="https://www.youtube.com/embed/d3SUPGYN_QY?si=4IB5o21Y8Ih_b82k" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>
</mat-card>
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <iframe class="video" src="https://www.youtube.com/embed/3fPa3nYWfOE?si=se-kv7h2h9FKdW1C"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>
    <mat-card-content class="card-content">
        <mat-card-title id="main_title">
            Session 3
        </mat-card-title>
        <img class="logos"src="img/logo_ucb.png" alt="Imagen de portada" style="width: 500px; height: 190px; " />
        <br>
        <br>
        <img class="logos" src="img/logo.png" alt="Imagen de portada" style="width: 490px; height: 150px; margin-left: 5%; " />
    </mat-card-content>
</mat-card>
<mat-card id="section2" class="c2">
    <mat-card-content class="card-content">
        <mat-card-title id="main_title">
            Session 4
        </mat-card-title>
        <img class="logos"src="img/logo_ucb.png" alt="Imagen de portada" style="width: 500px; height: 190px; " />
        <br>
        <br>
        <img class="logos" src="img/logo.png" alt="Imagen de portada" style="width: 490px; height: 150px; margin-left: 5%; " />
    </mat-card-content>
    <mat-card-content class="card-content">
        <iframe class="video" src="https://www.youtube.com/embed/CWTMBOuX_B4?si=rl9y0dtLvWDIIyLa"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>
</mat-card>
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <iframe class="video" src="https://www.youtube.com/embed/FFd-lfZQQ8A?si=P00U-y7-jy4HNkcw"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>
    <mat-card-content class="card-content">
        <mat-card-title id="main_title">
            Session 5
    </mat-card-title>
        <img class="logos"src="img/logo_ucb.png" alt="Imagen de portada" style="width: 500px; height: 190px; " />
        <br>
        <br>
        <img class="logos" src="img/logo.png" alt="Imagen de portada" style="width: 490px; height: 150px; margin-left: 5%; " />
    </mat-card-content>

    
</mat-card>