<mat-card class="cover-card">
    <img mat-card-image src="/img/virtualClasses.jpg" alt="Imagen de portada" />
    <mat-card-content>
        <h1>Remote Sessions</h1>
    </mat-card-content>
</mat-card>
<mat-card-title id="main_title">
    Programa Fulbright-Hays
</mat-card-title>


<mat-card id="section2">
    <mat-card-content class="card-content">
        <mat-list>
            <p>
                Students have access to virtual seminars covering topics such as politics, health, social movements, and
                data analysis in the social sciences. These seminars offer the opportunity to learn from anywhere,
                complementing in-person experiences.

            </p>
            <p>
                Students can access virtual seminars on topics like politics, health, social movements, and data
                analysis,
                complementing in-person learning.
            </p>
        </mat-list>
    </mat-card-content>
    <mat-card-content class="card-content">
        <iframe class="video" src="https://www.youtube.com/embed/s31E_zc8Ch8?si=zMsVJctj8a1uASRv"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>

</mat-card>

<mat-card id="section3" class="c1">
    <mat-card-content class="card-content">
        <img src="img/tihuanaku_aboutUs.jpg" alt="Image" class="img1">
    </mat-card-content>
    <mat-card-content class="card-content">
        <!-- matsubtitle -->
        <p>
            Through virtual platforms, University of Mississippi students can interact with Bolivian professors and
            international experts, expanding their knowledge network without the need to be physically present.
        </p>
        <p>
            Our students can connect with Bolivian professors and international experts online, expanding their learning
            horizons. Through virtual platforms, they can engage in meaningful discussions and broaden their
            understanding of global issues.
        </p>
    </mat-card-content>
</mat-card>

<mat-card id="section3" class="c2">
    <mat-card-content class="card-content">
        <p>
            Prior to and following in-person activities, students can engage in virtual sessions to foster academic and
            cultural preparation, and to reflect upon their program experiences.
        </p>
        <p>
            Both before and after their in-person activities, students can engage in virtual sessions to foster academic
            and cultural preparation, and to reflect upon their program experiences. These online sessions provide a
            valuable opportunity for students to connect with their peers and deepen their understanding of the
            program's themes. </p>

    </mat-card-content>
    <mat-card-content class="card-content">
        <img src="img/aboutUs_Potosi.jpg" alt="Image" class="img1">
    </mat-card-content>
</mat-card>
<!-- virtual classes  -->
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <iframe class="video" src="https://www.youtube.com/embed/fMXlrBTFhuo?si=j4cNg49yYnXsa2CQ"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>
    <mat-card-content class="card-content">
        <mat-card-title id="main_title">
            Session 1
        </mat-card-title>
        <img class="logos"src="/img/logo_ucb.png" alt="Imagen de portada" style="width: 500px; height: 190px; " />
        <br>
        <br>
        <img class="logos" src="/img/logo.png" alt="Imagen de portada" style="width: 490px; height: 150px; margin-left: 5%; " />

    </mat-card-content>
</mat-card>
<mat-card id="section2" class="c2">
    <mat-card-content class="card-content">
        <mat-card-title id="main_title">
            Session 2
        </mat-card-title>
        <img class="logos"src="/img/logo_ucb.png" alt="Imagen de portada" style="width: 500px; height: 190px; " />
        <br>
        <br>
        <img class="logos" src="/img/logo.png" alt="Imagen de portada" style="width: 490px; height: 150px; margin-left: 5%; " />
    </mat-card-content>
    <mat-card-content class="card-content"><iframe class="video"
            src="https://www.youtube.com/embed/d3SUPGYN_QY?si=4IB5o21Y8Ih_b82k" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>
</mat-card>
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <iframe class="video" src="https://www.youtube.com/embed/3fPa3nYWfOE?si=se-kv7h2h9FKdW1C"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>
    <mat-card-content class="card-content">
        <mat-card-title id="main_title">
            Session 3
        </mat-card-title>
        <img class="logos"src="/img/logo_ucb.png" alt="Imagen de portada" style="width: 500px; height: 190px; " />
        <br>
        <br>
        <img class="logos" src="/img/logo.png" alt="Imagen de portada" style="width: 490px; height: 150px; margin-left: 5%; " />
    </mat-card-content>
</mat-card>
<mat-card id="section2" class="c2">
    <mat-card-content class="card-content">
        <mat-card-title id="main_title">
            Session 4
        </mat-card-title>
        <img class="logos"src="/img/logo_ucb.png" alt="Imagen de portada" style="width: 500px; height: 190px; " />
        <br>
        <br>
        <img class="logos" src="/img/logo.png" alt="Imagen de portada" style="width: 490px; height: 150px; margin-left: 5%; " />
    </mat-card-content>
    <mat-card-content class="card-content">
        <iframe class="video" src="https://www.youtube.com/embed/CWTMBOuX_B4?si=rl9y0dtLvWDIIyLa"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>
</mat-card>
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <iframe class="video" src="https://www.youtube.com/embed/FFd-lfZQQ8A?si=P00U-y7-jy4HNkcw"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </mat-card-content>
    <mat-card-content class="card-content">
        <mat-card-title id="main_title">
            Session 5
    </mat-card-title>
        <img class="logos"src="/img/logo_ucb.png" alt="Imagen de portada" style="width: 500px; height: 190px; " />
        <br>
        <br>
        <img class="logos" src="/img/logo.png" alt="Imagen de portada" style="width: 490px; height: 150px; margin-left: 5%; " />
    </mat-card-content>

    
</mat-card>