<mat-card class="cover-card">
    <img mat-card-image src="/img/aboutUs_banner.jpg" alt="Imagen de portada" />
    <mat-card-content>
        <h1>About Us</h1>
    </mat-card-content>
</mat-card>
<mat-card-title id="main_title">
    Programa Fulbright-Hays
</mat-card-title>

<mat-card id="section2">
    <mat-card-content class="card-content">
        <mat-list>
            <p>
                The Fulbright-Hays Group-Seminar program in Bolivia is a joint activity organized by the National
                Coordination of Agreements and International Relations, along with the Institute of Behavioral Sciences
                (IICC) at the Bolivian Catholic University "San Pablo."
            </p>
            <p>
                Aimed at students from the University of Mississippi, United States.

            </p>
        </mat-list>
    </mat-card-content>
    <mat-card-content class="card-content">
        <iframe class="video" src="/video/intro_home.mp4" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </mat-card-content>

</mat-card>

<mat-card id="section3" class="c1">
    <mat-card-content class="card-content">
        <img src="img/tihuanaku_aboutUs.jpg" alt="Image" class="img1">
    </mat-card-content>
    <mat-card-content class="card-content">
        <!-- matsubtitle -->
        <p>
            Complementing classroom learning, students will participate in visits to some of Bolivia’s most iconic
            The Fulbright-Hays Group-Seminar program in Bolivia is a joint activity organized by the National
            Coordination of Agreements and International Relations, along with the Institute of Behavioral Sciences
            (IICC) at the Bolivian Catholic University "San Pablo."
        </p>
        <p>
            Aimed at students from the University of Mississippi, United States.
        </p>
    </mat-card-content>
</mat-card>

<mat-card id="section3" class="c2">
    <mat-card-content class="card-content">
        <p>
            Students participate in an interdisciplinary and practical experience, including:
        </p>
        <p>
            Visits to key Bolivian destinations: the Uyuni Salt Flat, Madidi National Park, Potosí, and Titicaca Lake.
        </p>
        <p>
            Specialized workshops in health, politics, and community research led by experts.
        </p>
    </mat-card-content>
    <mat-card-content class="card-content">
        <img src="img/aboutUs_Potosi.jpg" alt="Image" class="img1">
    </mat-card-content>
</mat-card>

<mat-card id="section3" class="c1">
    <mat-card-content class="card-content">
        <img src="img/Home.jpg" alt="Image" class="img1">
    </mat-card-content>
    <mat-card-content class="card-content">
        <!-- matsubtitle -->
        <p>
            The program combines adventure and academics, allowing students to apply their theoretical knowledge in a
            Bolivian context and gain a deeper understanding of Andean and Amazonian cultures.

        </p>
        <p>
            The Waliki Friends student volunteer network hosts recreational and cultural events to help visitors become
            more integrated into Bolivian society.
        </p>
    </mat-card-content>
</mat-card>

<mat-card id="section3" class="c2">
    <mat-card-content class="card-content">
        <p>
            Students from Mississippi live with selected Bolivian families, who offer them an immersive cultural
            experience, sharing customs, traditions, and their daily lives, fostering lasting bonds.
        </p>
        <p>
            This program fosters intercultural exchange and expands the global outlook of students, academics, and
            administrators, benefiting both international participants and the local community.
        </p>
    </mat-card-content>
    <mat-card-content class="card-content">
        <img src="img/Clases1.jpg" alt="Image" class="img1">
    </mat-card-content>
</mat-card>