<p>waliki works!</p>
<mat-card class="cover-card">
    <img mat-card-image src="/img/walikibanner.jpg" alt="Imagen de portada" />
    <mat-card-content>
        <h1>Waliki Friends</h1>
    </mat-card-content>
</mat-card>
<mat-card-title id="main_title">
    Waliki Friends
</mat-card-title>
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <mat-list>
            <p>
                The Waliki Friends network is comprised of UCB students who have participated in the Student Mobility
                Program abroad, who, under the values of solidarity and reciprocity, offer support to students coming to
                Bolivia from abroad.

            </p>
            <p>
                The Waliki Friends network, comprised of UCB students who have participated in the Student Mobility
                Program abroad, is guided by the values of solidarity and reciprocity to support incoming international
                students.
            </p>
        </mat-list>
    </mat-card-content>
    <mat-card-content class="card-content">
        <img src="img/Home.jpg" alt="Image" class="img1">
    </mat-card-content>

</mat-card>

<mat-card id="section2" class="c2">
    <mat-card-content class="card-content">
        <img src="img/Waliki.jpg" alt="Image" class="img1">
    </mat-card-content>
    <mat-card-content class="card-content">
        <!-- matsubtitle -->
        <p>
            Students will have the chance to learn about the kallawayas, itinerant traditional healers in Bolivia who
            are well-known for their deep understanding of medicinal plants and ancient healing practices. Through this
            encounter, students can explore Andean traditional medicine, gaining a deeper appreciation for the
            connections between health, culture, and spirituality, and recognizing the continued significance of these
            practices in many Bolivian communities.

        </p>
    </mat-card-content>
</mat-card>
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <mat-list>
            <p>
                Students will meet and learn about the kallawayas, traditional healers in Bolivia who use plants to heal
                people. This will help students understand Andean medicine and how it's still important to many
                communities in Bolivia.

            </p>
            <p>
                Students will get to know the kallawayas, traditional healers who travel around Bolivia using plants to
                heal people. This experience will help students learn about Andean medicine and its connection to
                culture and spirituality.
            </p>
        </mat-list>
    </mat-card-content>
    <mat-card-content class="card-content">
        <img src="img/waliki2.jpg" alt="Image" class="img1">
    </mat-card-content>

</mat-card>