<p>waliki works!</p>
<mat-card class="cover-card">
    <img mat-card-image src="img/walikibanner.jpg" alt="Imagen de portada" />
    <mat-card-content>
        <h1>Waliki Friends</h1>
    </mat-card-content>
</mat-card>
<mat-card-title id="main_title">
    Waliki Friends
</mat-card-title>
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <mat-list>
            <p>
                The Waliki Friends network, formed by UCB students who have participated in the Student Mobility Program abroad, 
                is driven by the values of solidarity and reciprocity. Its mission is to provide comprehensive support to 
                international students arriving in Bolivia.
            </p>
            <p>
                This network organizes various activities throughout the semester to promote cultural immersion and foster 
                meaningful exchanges between international students and the local community.
            </p>
        </mat-list>
    </mat-card-content>
    <mat-card-content class="card-content">
        <img src="img/Home.jpg" alt="Image" class="img1">
    </mat-card-content>

</mat-card>

<mat-card id="section2" class="c2">
    <mat-card-content class="card-content">
        <img src="img/Waliki.jpg" alt="Image" class="img1">
    </mat-card-content>
    <mat-card-content class="card-content">
        <!-- matsubtitle -->
        <p>
            Students will have the chance to learn about the kallawayas, itinerant traditional healers in Bolivia who
            are well-known for their deep understanding of medicinal plants and ancient healing practices. Through this
            encounter, students can explore Andean traditional medicine, gaining a deeper appreciation for the
            connections between health, culture, and spirituality, and recognizing the continued significance of these
            practices in many Bolivian communities.

        </p>
    </mat-card-content>
</mat-card>
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <mat-list>
            <p>
                Students will have the opportunity to meet and learn from the Kallawayas, traditional healers in Bolivia 
                renowned for their use of medicinal plants to treat illnesses. Through this experience, students will 
                gain a deeper understanding of Andean medicine, its cultural and spiritual significance, and its enduring 
                importance to many Bolivian communities.
            </p>
        </mat-list>
    </mat-card-content>
    <mat-card-content class="card-content">
        <img src="img/waliki2.jpg" alt="Image" class="img1">
    </mat-card-content>

</mat-card>