#section1 {
    margin-top: 2%;
    padding: 2%;
    display: grid; /* Usamos Grid Layout */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas grandes */
    gap: 20px; /* Espaciado entre las columnas */
    background-color: var(--second-color);
  
    .card-content  {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
      width: 100%;
      img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 10px;
        
      transition: transform 0.6s ease, filter 0.54s ease;
  
      &:hover {
        transform: scale(1.05); /* Efecto hover */
        filter: brightness(1.2); /* Más brillo */
      }
  
      }
    }
  
    /* En pantallas pequeñas, cambiamos a una columna */
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, fr); /* Una columna */
    }
  
    /* Aseguramos el comportamiento en pantallas extra pequeñas */
    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr); /* Una columna */
    }
  }
 
  .img mat-mdc-card-image mdc-card__media{
    padding: 16px !important;
  }

  mat-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Asegura que los items se apilen verticalmente */
  }
  
  mat-list-item {
    word-wrap: break-word;  /* Permite que el texto se ajuste a la siguiente línea */
    white-space: normal;    /* Asegura que el texto no se quede en una sola línea */
    margin-bottom: 10px;    /* Espaciado entre los elementos */
    padding: 10px;          /* Añadido un poco de padding para que el contenido no quede pegado */
    background-color: #f0f0f0; /* Fondo para que los items sean visibles */
    border-radius: 5px;     /* Bordes redondeados */
  }
  
  p{
    line-height: 2.5rem;
    color: var(--textp-color);
    font-weight: 500;
    margin-top: 5%;
    font-size: 1.5rem;
    // vieneta
    // list-style-type: disc;
    margin-left: 20px;
  }
  img{
    align-self: center;
  }
  /* Estilos responsivos */
  @media (max-width: 768px) {
    mat-list {
        padding-left: 20px;  /* Espaciado lateral */
        word-wrap: break-word; /* Ajuste de texto */
    }
  
  }
  
  @media (max-width: 480px) {
    mat-list {
        margin-top: 5rem;
        padding-left: 20px;  /* Espaciado lateral */
        word-wrap: break-word; /* Ajuste de texto */
    }
    p{
        font-size: 1.0rem;

    }
  }

  // espacio
  
  #section5{
    margin-top: 2%;
  }
  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    .testimonial {
      text-align: center;
  
      .testimonial-image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 20px;
      }
  
      .testimonial-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
      }
  
      .testimonial-content {
        font-size: 1.2rem;
        line-height: 1.5;
        color: #666;
      }
    }
  
    .controls {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
  
      button {
        padding: 10px 20px;
        border: none;
        background-color: var(--second-color);
        // espacio entre botones
        margin: 0 10px;
        color: #fff;
        font-size: 1.0rem;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }

  .cover-card {
    position: relative;
    height: var(--cover-height-desktop);
    overflow: hidden;
  
    @media (max-width: 768px) {
      height: var(--cover-height-tablet);
    }
  
    @media (max-width: 480px) {
      height: var(--cover-height-mobile);
    }
  
    .image-container {
      position: absolute;
      width: 100%;
      height: 100%;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        opacity: 0; // Imágenes no activas son invisibles
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.5s ease; // Transición suave entre imágenes
      }
  
      img.active {
        opacity: 1; // Imagen activa visible
        animation: mosaic 1s ease-in-out;
      }
    }

    mat-card-content {
      position: absolute;
      bottom: 20px;
      color: var(--cover-content-color);
      padding: var(--cover-content-padding-desktop);
      z-index: 2;
      max-width: 80%;
      text-align: center;
      animation: fadeIn 0.5s ease-in-out; // Añade animación para el texto
  
      @media (max-width: 768px) {
        padding: var(--cover-content-padding-mobile);
      }
  
      @media (max-width: 480px) {
        padding: var(--cover-content-padding-mobile);
      }
    }
  
    // Animación de mosaico para la transición de imágenes
    @keyframes mosaic {
      0% {
        clip-path: inset(50% 50% 50% 50%);
      }
      100% {
        clip-path: inset(0% 0% 0% 0%);
      }
    }
  
    // Animación de desvanecimiento para el texto
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateY(10px); // Desciende ligeramente al aparecer
      }
      100% {
        opacity: 1;
        transform: translateY(0); // Posición original
      }
    }
  }
  .styled-btn {
    background: linear-gradient(90deg, #6a11cb, #2575fc); /* Degradado */
    color: white; /* Texto blanco */
    font-size: 1.2rem; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    padding: 12px 20px; /* Espaciado interno */
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Sombra */
    transition: all 0.3s ease; /* Animación */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor tipo mano */
    text-transform: none; /* Evita texto en mayúsculas */
  }
  
  .styled-btn:hover {
    background: linear-gradient(90deg, #2575fc, #6a11cb); /* Efecto inverso */
    transform: translateY(-3px); /* Eleva el botón al pasar el ratón */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3); /* Más sombra */
  }
  
  .styled-btn:active {
    transform: translateY(0); /* Restablece la posición al hacer clic */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25); /* Sombra original */
  }
  