<mat-card class="cover-card">
    <img mat-card-image src="img/inPersonClass.jpg" alt="Imagen de portada" />
    <mat-card-content>
        <h1>Classes</h1>
    </mat-card-content>
</mat-card>
<mat-card-title id="main_title">
    Program Fulbright-Hays
</mat-card-title>
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <mat-list>
            <p>
                Students embark on immersive excursions to iconic Bolivian destinations such as the Salar de Uyuni, 
                Madidi National Park, Potosí, and Lake Titicaca. These experiences seamlessly blend tourism with 
                academic exploration, allowing students to enjoy Bolivia’s breathtaking landscapes while deepening 
                their understanding of its cultural, historical, and environmental significance.
            </p>
        </mat-list>
    </mat-card-content>
    <mat-card-content class="card-content">
        <img src="img/inpersonClass_Salt.jpg" alt="Image" class="img1">
    </mat-card-content>

</mat-card>

<mat-card id="section2" class="c2">
    <mat-card-content class="card-content">
        <img src="img/tihuanaku_aboutUs.jpg" alt="Image" class="img1">
    </mat-card-content>
    <mat-card-content class="card-content">
        <!-- matsubtitle -->
        <p>
            In workshops led by expert faculty, students explore critical topics such as public health, politics, and 
            community-based research. These interactive sessions provide students with hands-on experience, enabling 
            them to apply theoretical knowledge to real-world challenges.
        </p>
        <p>
            Through this practical approach, students gain valuable insights into the complexities of Bolivian society, 
            fostering a deeper and more nuanced understanding of its realities and cultural context.
        </p>
    </mat-card-content>
</mat-card>
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <mat-list>
            <p>
                Students will participate in a cultural immersion program, living with carefully selected Bolivian host
                families. This daily interaction provides firsthand experience of Bolivian customs and traditions.
            </p>
            <p>
                The Waliki Friends student volunteer network creates spaces for integration between international
                students and the local community through in-person recreational and cultural activities.
            </p>
        </mat-list>
    </mat-card-content>
    <mat-card-content class="card-content">
        <img src="img/inperson.jpg" alt="Image" class="img1">
    </mat-card-content>

</mat-card>