<mat-card class="cover-card">
    <img mat-card-image src="/img/inPersonClass.jpg" alt="Imagen de portada" />
    <mat-card-content>
        <h1>Classes</h1>
    </mat-card-content>
</mat-card>
<mat-card-title id="main_title">
    Programa Fulbright-Hays
</mat-card-title>
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <mat-list>
            <p>
                Students embark on excursions to important Bolivian locations including the Salar de Uyuni, Madidi
                National Park, Potosí, and Lake Titicaca, blending tourism with academic study.
            </p>
            <p>
                Students visit cool places in Bolivia like the Salar de Uyuni, Madidi National Park, Potosí, and Lake
                Titicaca, combining fun and learning.
            </p>
        </mat-list>
    </mat-card-content>
    <mat-card-content class="card-content">
        <img src="img/inpersonClass_Salt.jpg" alt="Image" class="img1">
    </mat-card-content>

</mat-card>

<mat-card id="section2" class="c2">
    <mat-card-content class="card-content">
        <img src="img/tihuanaku_aboutUs.jpg" alt="Image" class="img1">
    </mat-card-content>
    <mat-card-content class="card-content">
        <!-- matsubtitle -->
        <p>
            In workshops led by expert faculty, students tackle topics such as health, politics, and community-based
            research. These workshops allow students to apply their theoretical knowledge to real-world situations,
            contributing to a deeper understanding of Bolivian reality.
        </p>
        <p>
            Students get hands-on experience in workshops led by experts on topics like health, politics, and community
            research, which helps them understand Bolivia better.
        </p>
    </mat-card-content>
</mat-card>
<mat-card id="section2" class="c1">
    <mat-card-content class="card-content">
        <mat-list>
            <p>
                Students will participate in a cultural immersion program, living with carefully selected Bolivian host
                families. This daily interaction provides firsthand experience of Bolivian customs and traditions.
            </p>
            <p>
                The Waliki Friends student volunteer network creates spaces for integration between international
                students and the local community through in-person recreational and cultural activities.
            </p>
        </mat-list>
    </mat-card-content>
    <mat-card-content class="card-content">
        <img src="img/inperson.jpg" alt="Image" class="img1">
    </mat-card-content>

</mat-card>